.col {
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
}

.col {
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
}

